@{
    ViewData["Title"] = "Catalogue";
}

    <div>
        <h1>Catalogue</h1>

    <div>
        @using (Html.BeginForm("Catalogue", "Catalogue", FormMethod.Get))
        {
            var typeDef = ViewBag.type;
            var genreDef = ViewBag.genre;
            var sortDef = ViewBag.sort;
            var orderDef = ViewBag.order;

            <input type="hidden" name="productType" value="@typeDef" />

            <select name="genre" id="genre">
                @foreach (var genre in ViewBag.genres)
                {
                    bool select = (genre == genreDef) ? true : false;
                    @if (select)
                    {
                        <option value="@genre" selected>@genre</option>
                    } else
                    {
                        <option value="@genre">@genre</option>
                    }
                }
            </select>

            <select name="sortBy">
                @foreach (var option in ViewBag.sortOptions)
                {
                    bool select = (option == sortDef) ? true : false;
                    @if (select)
                    {
                        <option value="@option" selected>@option</option>
                    } else
                    {
                        <option value="@option">@option</option>
                    }
                }
            </select>

            <select name="order">
                @if (orderDef == "asc")
                {
                    <option value="asc" selected>Ascending</option>
                    <option value="desc">Descending</option>
                } else
                {
                    <option value="asc">Ascending</option>
                    <option value="desc" selected>Descending</option>
                }
            </select>

            <input type="submit" value="Filter">
        }
    </div>


        <table class = "table cataloguetable">
            <thead class = "tableheader">
                <tr>
                    <!-- Table headers -->
                    <th>Name</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Published</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.prodlist != null) // checks if prodlist is null
                {
                    @foreach (Product item in ViewBag.prodlist)  // Builds table from database, checks for nulls/empty data
                    {
                        <tr>
                            <td>@(item.Name ?? "Unknown")</td>
                            <td>@(item.Author ?? "Unknown")</td>
                            <td>@ViewBag.selectedGenres[item.SubGenre.Value-1]</td>
                            <td>@(item.Published.HasValue ? item.Published.Value.ToString("yyyy") : "Unknown")</td>
                            <td><a class="btn btn-primary" href="~/Catalogue/Item/@(item.Id)">View Item</a></td>
                        </tr>
                    }
                } 
                else
                {
                <h1>Catalogue Error</h1>  
                
                }
            </tbody>
        </table>
    </div>
