@{
    ViewData["Title"] = "Order_Details";
}

<div class="accountheader">
    <h1 class="title">Order Details</h1> <!--Needs session state current user-->
</div>

<div class="d-flex">
    <a href="~/User/Order_History" class="btn btn-primary backbutton">Back</a>
</div>

<hr />

<form class="accountform">
    <div class="accountinfo">
       <div class="row">
        <div class="column ordercolumn">
            <p>Order ID</p>
            <p>Suburb</p>
            <p>Street Address</p>
            <p>Postcode</p>
            <p>State</p>
        </div>
        <div class="column ordercolumn">
            <p>@ViewBag.order.OrderId</p>
            <p>@ViewBag.order.Suburb</p>
            <p>@ViewBag.order.StreetAddress</p>
            <p>@ViewBag.order.PostCode</p>
            <p>@ViewBag.order.State</p>
        </div>
       </div>
    </div>
    <div class="d-flex flex-md-row-reverse">
        <a href="~/User/Update_Order_Details/@ViewBag.order.OrderId" class="btn btn-primary editbutton">Edit</a>
    </div>
</form>
