@{
    ViewData["Title"] = "Update Order Details";
}

<div class="accountheader">
    <h1 class="title">Update Order Details</h1>
</div>

<div class="d-flex">
    <a href="~/User/Order_Details" class="btn btn-primary backbutton">Back</a>
</div>

<hr />
@using (Html.BeginForm("Update_Order_Details_Action", "User", FormMethod.Post))
{
    <input class="form-control userinput" type="hidden" name="ID" value="@ViewBag.order.OrderId">

    <label for="email">Suburb</label>
    <input class="form-control userinput" type="text" name="Suburb" id="Suburb" value="@ViewBag.order.Suburb">
    <label for="email">Street Address</label>
    <input class="form-control userinput" type="text" name="Street" id="Street" value="@ViewBag.order.StreetAddress">
    <label for="email">Postcode</label>
    <input class="form-control userinput" type="text" name="Postcode" id="Postcode" value="@ViewBag.order.PostCode">
    <label for="email">State</label>
    <input class="form-control userinput" type="text" name="State" id="State" value="@ViewBag.order.State">

    <button class="btn btn-primary editbutton" id="Save" type="submit">Save</button>
}

