@{
    ViewData["Title"] = "User Management";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>All current users:</h1>
<a class="btn btn-primary addbutton" href="~/Admin/Add_User">+ Add User</a>
<table class="table usertable">
    <thead>
        <tr class="tableheader">
            <!-- Table headers -->
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Admin Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table">
        @foreach (User detail in ViewBag.userList)  // Builds table from database
        {
            <tr>
                <td>@(detail.UserId)</td>
                <td>@(detail.UserName)</td>
                <td>@(detail.Email ?? "NULL")</td>
                <td>@(detail.Name)</td>
                <td>@(detail.IsAdmin)</td>
                <td>
                <td><a class="btn btn-primary" href="~/Admin/Edit_User/@(detail.UserId)">Edit</a></td>
                <td><a class="btn btn-primary delbtn" id="Delete" href="~/Admin/Delete_User/@(detail.UserName)">Delete</a></td>
                
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).on(function () {
        // Confirm delete
        $("#Delete").click(function () {
            const response = confirm("Confirm delete?")

            if (response == false) {
                return false;
            }
        });
    });
</script>